@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione ao seu CSS global ou no componente */
.modal-open {
    overflow: hidden;
    height: 100vh;
}

.modal-open body {
    overflow: hidden;
    position: fixed;
    width: 100%;
}